@model IEnumerable<TestsApp.Models.Pregunta>

@if (Model.Count() == 0)
{
    <div class="row-fluid">
        <div class="padded">
            <div class="span12">vacio</div>
        </div>
    </div>
}
else
{
    int i = 1;
    foreach (var item in Model)
    {
    <div class="row-fluid">
        <div class="padded">
            <div class="span12">
                <div class="box-header">
                    @i. @item.Texto
                    <div class="pull-right">
                        Puntaje: @item.Puntaje/@item.Puntaje
                        <div class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-left">
                                <li><a href="#">Editar</a></li>
                                <li><a href="#">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        i++;
    }
}