@model TestsApp.Models.Examen
@using (Html.BeginForm("PublishFinal", "Examen", new { id = Model.Id }, FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Publicar Examen</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">

                @if (Model.IdTipo == 1)
                {
                    var lineas = Model.Producto.Linea.ToList();
                    string s = string.Empty;
                    foreach (TestsApp.Models.Linea l in lineas)
                    {
                        s += l.Nombre + ", ";
                    }
                    if (s.Length > 0)
                    {
                        s = s.Substring(0, s.Length - 2);
                    }
                    <p>
                        ¿Está seguro que desea publicar el examen <em>@Model.Titulo</em>? Si decide proceder, ya no podrá editar el examen y se enviará una alerta a todos los Aster de <em>@(Model.Producto == null ? "" : s)</em>
                    </p>
                }
                else
                {
                    <p>
                        ¿Está seguro que desea publicar la asesoría <em>@Model.Titulo</em>?
                    </p>
                }

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-small">No</button>
        @*@Ajax.ActionLink("Sí", "Delete", new { id = Model.UserId }, new AjaxOptions { HttpMethod = "Post" }, new { @class = "btn btn-small medium-blue" })*@
        <input type="submit" class="btn btn-small medium-blue" value="Sí" />
    </div>
}

