li.span6:nth-child(2n+1), li.span12
{
    margin-left: 0 !important;
}

#loading-div
{
    display: none;
    position: absolute;
}

.centered
{
    margin: 0 auto;
}

.center-div
{
    margin: 0 auto !important;
}

.row-margin-bottom-regular
{
    margin-bottom: 20px;
}

.rightAnswer
{
    color: green;
}

.wrongAnswer
{
    color: red;
}

.rotate
{
    /* Safari */
    -webkit-transform: rotate(-30deg);
    /* Firefox */
    -moz-transform: rotate(-30deg);
    /* IE */
    -ms-transform: rotate(-30deg);
    /* Opera */
    -o-transform: rotate(-30deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.score{
    color: red;
    font-size: 28px;
    font-style:italic;
}
